:root {
    --font-using: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --dark-gold: #fbc02d
}


.home_header_heading {
    text-decoration: underline;
    text-align: center;
    margin: 2rem auto;
    width: 100%;
    font-size: 3rem;
}

.home_header {
    padding: 0 5% 0 0;
    background-color: black;
    display: flex;
    justify-content: right;
    align-items: center;
    margin:0 0 5% 0;
    
    & .content {
        border-left: 2px solid black;
        margin: 3dvh 0 3dvh 0;
        display: flex;
        width: 70%;
        float: right;
        justify-content: left;
        align-items: center;
        color: black;
        font-size: 30px;
        padding: 10px 10px 10px 20px;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 1px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
        background: linear-gradient(130deg, white, white 80%, var(--dark-gold) 80%, var(--dark-gold));

        & div{
            display: flex;
            flex-direction: column;
            gap: 50px;

            & p {
                font-family: var(--font-using);
                font-size: 3dvh;
                width: 100%;
            }
            & button {  
                appearance: none;
                background-color: var(--dark-gold);
                border: 1px solid rgba(27, 31, 35, 0.15);
                border-radius: 6px;
                box-sizing: border-box;
                color: black;
                cursor: pointer;
                display: inline-block;
                font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
                font-size: 2rem;
                font-weight: 500;
                line-height: 20px;
                list-style: none;
                padding: 15px 20px;
                position: relative;
                transition: color .15s cubic-bezier(0.3, 0, 0.5, 1) ;
                user-select: none;
                -webkit-user-select: none;
                touch-action: manipulation;
                vertical-align: middle;
                white-space: nowrap;
                word-wrap: break-word;
                width: fit-content;

                &:hover{
                    color: white;
                }
            }
        }

        & img {
            width: 40dvh;
        }

    }
}

.home_section1{
    padding: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5dvh;

    & h1{
        font-size: 3rem;
    }
}