:root {
    --font-using: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --dark-gold: #fbc02d
}


.home_header_heading {
    text-decoration: underline;
    text-align: center;
    margin: 2.5rem auto;
    width: 100%;
    font-size: 2rem;
}

.home_header {
    padding: 0 5% 0 0;
    background-color: black;
    display: flex;
    justify-content: right;
    align-items: center;
    margin:0 0 5% 0;
    height: fit-content;
    
    & .content {
        border-left: 2px solid black;
        margin: 3dvh 0 3dvh 0;
        display: flex;
        width: 70%;
        float: right;
        justify-content: left;
        align-items: center;
        color: black;
        padding: 10px 10px 10px 20px;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 1px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
        background: linear-gradient(130deg, white, white 80%, var(--dark-gold) 80%, var(--dark-gold));
        border-radius: 10px;

        & div{
            display: flex;
            flex-direction: column;
            gap: 1rem;

            & p {
                font-family: var(--font-using);
                font-size: 2.5dvh;
                width: 100%;
                font-weight: 600;
            }
            & button {  
                appearance: none;
                background-color: var(--dark-gold);
                border: 1px solid rgba(27, 31, 35, 0.15);
                border-radius: 6px;
                box-sizing: border-box;
                color: black;
                cursor: pointer;
                display: inline-block;
                font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
                font-size: 1rem;
                font-weight: 600;
                line-height: 20px;
                list-style: none;
                padding: 15px 10px;
                position: relative;
                transition: color .15s cubic-bezier(0.3, 0, 0.5, 1) ;
                user-select: none;
                -webkit-user-select: none;
                touch-action: manipulation;
                vertical-align: middle;
                white-space: nowrap;
                word-wrap: break-word;
                width: fit-content;

                &:hover{
                    color: white;
                }
            }
        }

        & img {
            width: 25dvh;
        }

    }
}

.home_section1{
    padding: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5dvh;

    & h1{
        font-size: 2rem;
        text-decoration: underline;
    }

    & .home_ul{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
        list-style: none;
        gap: 100px;
        box-sizing: border-box;
        
        
        
        & li{
            padding: 20px;
            box-shadow: rgba(50, 50, 93, 0.25) 0px 1px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px; 
            border-radius: 10px;  
            font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
            background: radial-gradient(50% 50% at 0 0, #fbc02d 50% 78%,#0000 80% 100%);
            background-size: 80px 80px;
            background-repeat: no-repeat;
            
            
            & p{
                margin-top: 1rem;
                opacity: .6;
            }
        }
    }
}

footer{
    background-color: black;
    padding: 30px;
    min-height: 10rem;
    color: white;
}