:root {
    --shodow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

* {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    align-content: center;
    justify-content: space-between;
    background-color: white;
    box-shadow: var(--shodow);
    padding: 20px 10% 20px 10%;
    align-items: center;
    max-height: 20px;


    & .logo {
        display: flex;
        flex-direction: row;
        gap: 20px;
        align-items: center;
    }


    & .list_container {
        height: 100%;
        display: flex;
        justify-content: center;

        & .ul_options {
            display: flex;
            gap: 1.5rem;
            list-style: none;
            justify-content: center;
            align-items: center;
            font-family: Arial, Helvetica, sans-serif;
            font-weight: 500;
            cursor: pointer;
            color: gray;
            font-size: 1.1rem;
            transition: transform .3s ease;

            & *{
                font-size: 2.5dvh;
            }
                
            & *:hover {
                color: black !important;
            }
            
            
        }
    }

}